<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqyj.gyq.mapper.TPermissionMapper">

    <resultMap id="BaseResultMap" type="com.hqyj.gyq.entity.TPermission">
            <id property="permissionId" column="permission_id" jdbcType="INTEGER"/>
            <result property="permissionName" column="permission_name" jdbcType="VARCHAR"/>
            <result property="permissionIcon" column="permission_icon" jdbcType="VARCHAR"/>
            <result property="permissionUrl" column="permission_url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        permission_id,permission_name,permission_icon,
        permission_url
    </sql>
</mapper>
